body {
    background-image: url(graphic-element/rugby-game-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    box-sizing: border-box;

    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 2%;

}



@media screen and (max-width: 400px) {

    .section-nav-tit {
        flex-grow: 1;
        background-color: red;
    }

    .section-news {
        flex-grow: 2;
        background-color: yellowgreen;
    }

    .section-footer {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;

        padding: 0 5%;
    }

    .section-nav-tit__tittle {
        text-align: center;
    }

    .section-nav-tit__navigation {
        background-color: rgb(26, 206, 101);
        /* height: 100%; */
    }

    .section-nav-tit__navigation ul {
        display: flex;
        /* height: 100%; */
        /* justify-content: center; */
    }

    .section-nav-tit__navigation li {
        flex: 1 1 0;
    }

    .section-nav-tit__navigation a {
        text-decoration: none;
        text-align: center;
        color: yellow;
        display: block;
        padding: 1%;
    }

    .section-nav-tit__navigation a:hover {
        background-color: aqua;
    }


}