body {
    background-image: url(graphic-element/rugby-game-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    box-sizing: border-box;

    color: rgb(245, 245, 104);
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}



@media screen and (max-width: 400px) {

    .section-nav-tit__tittle {
        margin: 5% 0;
    }

    .section-nav-tit {
        margin: 1%;
        flex-grow: 0.5;
    }

    .section-news {
        display: flex;
        flex-grow: 2;
        flex-direction: column;
        margin: 2% 2%;
        padding: 2% 2%;
        justify-content: center;
        align-items: center;
    }

    .section-news h1 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .section-news__foto {
        flex-grow: 1;
        margin: 4% 4%;
    }

    .section-news__info {
        flex-grow: 2;
    }

    .img-responsive {
        width: 100%;
        height: auto;
    }

    .vertical-line {
        border-top: 2px solid rgb(223, 243, 38);
        margin: 4%;
    }




    .section-footer {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;

        padding: 0 5%;
        text-align: center;
    }

    .section-nav-tit__tittle {
        text-align: center;
    }

    .section-nav-tit__navigation {
        font-size: 15px;
        border: rgb(217, 255, 0) solid;
    }

    .section-nav-tit__navigation ul {
        display: flex;
    }

    .section-nav-tit__navigation li {
        flex: 1 1 0;
    }

    .section-nav-tit__navigation a {
        text-decoration: none;
        text-align: center;
        color: yellow;
        display: block;
        padding: 1%;
    }

    .section-nav-tit__navigation a:hover {
        background-color: aqua;
    }


}